#app {
  /* max-width: 850px;
  margin: 0 auto; */
}

nav {
  padding: 20px 0 20px 0;
}

.nav-link-active {
  font-weight: bold;
}

.container-fluid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.subreddits {
  grid-area: 1 / 2;
}

.posts {
  grid-area: 1 / 1;
}

.sub-reddits li {
  list-style: none;
}

.sub-reddits li {
  text-decoration: underline;
}
